In [2]:
from secrets import choice
import pandas as pd

In [3]:
possibilites = [0, 0, 0.1, 0.25, 0, 0.1 , 0.35, 0.5, 0, 0, 0.5, 0, 0.75, 0, 0, 0, 0.85, 0.3, 0, 0, 0, 0.9, 1, 0]
user_id=[]
for i in range(1, 101):
    for j in range(1, 101):
       user_id.append(f'u{i}') 
  
item_id = []
for i in range(1, 101):
    for j in range(1, 101):
       item_id.append(f'i{j}') 

rating=[choice(possibilites) for i in range(1, 10001)]


data = {'user_id':user_id,
        'item_id':item_id,
         'rating':  rating}
User2Review = pd.DataFrame(data)
User2Review
User2Review.to_csv('User2reviwe.csv')

     user_id item_id  rating
0         u1      i1    0.50
1         u1      i2    0.00
2         u1      i3    0.00
3         u1      i4    0.00
4         u1      i5    0.75
...      ...     ...     ...
9995    u100     i96    0.00
9996    u100     i97    0.00
9997    u100     i98    0.00
9998    u100     i99    0.90
9999    u100    i100    0.90

[10000 rows x 3 columns]